.app {
  text-align: center;
  background-color: rgb(70, 80, 80);
  padding: 3%;
}

.time {
font-size: 30px;
}

button {
  background-color: rgb(0, 174, 255);
  font-size: 20px;
  padding: 1%;
  margin: 5px;
  border-radius: 6px;
}
